<%- include("partials/header.ejs") %>
    <main class="container">
        <div class="row card-container">
            <div class="col-12">
                <div class="card center">
                    <div class="card-header">
                        <h4>What are my weaknesses?</h4>
                        <form action="/" method="POST">
                            <input type="text" name="pokemonName" placeholder="ex. Bulbasaur">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    <div class="card-body">
                        <% if (!locals.typeData) { %>
                            <img src="assets/bug-type.png">
                            <% } %>
                                <% if (locals.typeData) { %>
                                    <img src=<%=typeData.pSprite %> class="card-img" alt="<%= typeData.pName %>">
                                        <% } %>
                                            <% if (locals.typeData) { %>
                                                <h5>
                                                    <%= typeData.pName %>'s type is:
                                                </h5>
                                                <% if (locals.typeData.pTypes.pTypeTwo !=="" ) {%>
                                                    <img src=<%=typeData.pTypes.pTypeOneIcon %>>
                                                    <img src=<%=typeData.pTypes.pTypeTwoIcon %>>
                                                    <% } else if (locals.typeData.pTypes.pTypeTwo==="" ) { %>
                                                        <img src=<%=typeData.pTypes.pTypeOneIcon %>>
                                                        <% } %>
                                                            <% } %>
                    </div>

                <div class="card-footer">

                    <% if (locals.weaknessData) { %>
                        <% for (key in locals.weaknessData) { %>
                            <% if (locals.weaknessData[key] === 1) { %>
                                <img src=<%=`assets/${key}-type.png` %>>
                        <% } %>
                        <% } %>
                        <% } %>

                </div>
                
            </div>
            </div>
        </div>
        </div>

