<%- include("partials/header.ejs") %>
    <main class="container">
        <div class="row card-container">
                <div class="card center">
                    <h4>What are my weaknesses?</h4>
                    <% if (locals.data) { %>
                        <img src=<%=data.pSprite %> class="card-img" alt="<%= data.pName %>">
                            <% } %>
                                <% if (locals.data) { %>
                                    <h5><%= data.pName %>'s type is:</h5>
                                    <% if (locals.data.pTypes.pTypeTwo !=="" ) {%>
                                        <img src=<%=data.pTypes.pTypeOneIcon %>>
                                        <img src=<%=data.pTypes.pTypeTwoIcon %>>
                                        <% } else if (locals.data.pTypes.pTypeTwo==="" ) { %>
                                            <img src=<%=data.pTypes.pTypeOneIcon %>>
                                            <% } %>
                                                <% } else { %>
                                                    <img src="assets/bug-type.png">
                                                    <% } %>
                                                        <div class="card-footer text-muted">
                                                            <form action="/" method="POST">
                                                                <input type="text" name="pokemonName"
                                                                    placeholder="ex. Bulbasaur">
                                                                <input type="submit" value="Search">
                                                            </form>
                                                        </div>
                </div>
        </div>

        <% if (locals.data) { %>

            <% } %>
